body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(/logo512.png) no-repeat;
  background-position: -255px -195px;
  background-color: white;

}
form {
  margin-top: 40px;
  padding: 20px;
}
.card {
  padding: 20px
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #61dbfb;
  box-shadow: none
}